body {
   padding: 0;
    margin: 0px auto;
  /*  background-image: url("../img/conf1.jpeg");
    background-size: contain;
    background-repeat: no-repeat;*/
    background-color: #ddd;/*#BDE2FE; #bcf2ff;  */
    font-family: arial, verdana, sans-serif;
    font-style: normal;
}

#header {
  width: 100%;
  padding-top: 10px;
  margin-top: 5%;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 24px;
  color: #FFF;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  /*text-shadow: -1px 0 #d7f7ff, 0 1px #d7f7ff, 1px 0 #d7f7ff, 0 -1px #d7f7ff;*/
  /*text-shadow: -2px 0 #b795c7, 0 2px #b795c7, 2px 0 #b795c7, 0 -2px #b795c7;*/
}

#wrapper {
   border-radius: 15px;
    background-color: rgba(170, 170, 170, 0.4);
    padding: 20px;
    width: 800px;
    height: 545px;
    margin: 0px auto;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#questionnaire-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(1,1,1,1); /* Black background with opacity */
    color: black;
    z-index: 10; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#settings {
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  padding: 10px;
  padding-left: 30px;
  background-color: #efefef;
  border-top: 1px solid #dedede;
  font-size: 18px;
}
#settings label {
  width: 100px;
  margin-right: 20px;
}

textarea{
    width: 95%;
    height: 300px;
    font-size: 18px;
    font-family: "Courier New";
}

.container {
    display: flex;
    width: 96%;
    height: 48px;
    margin-top: 20px;
}


input {
   border-radius: 0px;
   font-size: 20px;
   padding: 12px;
   margin-top: 0px;
   margin-bottom: 0px;
   flex-grow: 1;
}

#user {
  width: /150px;
}

#password {
  width: 150px;
}

#connection_status {
  margin-left: 20px;
  font-size: 14px;
}

.suggestions{
   background-color: rgba(255, 255, 255, 0);
   text-align: left;
   padding: 4px 14px;
}

#parse {
  display: inline-block;
  width: 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial",sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #FFF;
  background: #b795c7;
  border: solid 0px #6496c8;
}

#parse:focus {
  outline: none
}

#parse:hover,
#parse.hover {
  border-color: #346392;
  color: #346392;
}
#parse:active,
#parse.active {
  border-color: #27496d;
  color: #27496d;
}

div#interface {
  /*
    margin: auto;
    margin-top: 10%;
    width: 415px;
    height: 730px;
    background: rgba(0,0,0,.4);
    position: relative;*/
    background: rgba(0,0,0,.4);
}
img#phone {
    /*position: absolute;
    margin-top: -145px;
    width: 708px;
    left: 50%;
    margin-left: -356px; */
}
