body {
   padding: 0;
    margin: 0px auto;
    background-image: url("../images/weather.png");
    background-color: #bcf2ff;
    font-family: arial, verdana, sans-serif;
    font-style: normal;
}

#header {
  width: 100%;
  margin-top: 18%;
  text-align: center;
  font-size: 100px;
  color: #FFFFFF;
  font-weight: bold;
  font-family: "Brush Script MT", cursive;
}

#wrapper {
   border-radius: 15px;
    background-color: rgba(170, 170, 170, 0.4);
    padding: 20px;
    width: 800px;
    height: 545px;
    margin: 0px auto;
}

input {
   border-radius: 15px;
    font-size: 30px;
   padding: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button_example{
    border:1px solid #b7b7b7; 
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-family:arial, helvetica, sans-serif; 
    padding: 10px 10px 10px 10px; 
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    text-align: center; 
    color: #FFFFFF; 
    background-color: #d3d3d3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3d3d3), color-stop(100%, #707070));
   background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
   background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
   background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
    background-image: -o-linear-gradient(top, #d3d3d3, #707070);
    background-image: linear-gradient(top, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
        }

        .button_example:hover{
             border:1px solid #a0a0a0; background-color: #bababa;
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%, #575757));
               background-image: -webkit-linear-gradient(top, #bababa, #575757);
                 background-image: -moz-linear-gradient(top, #bababa, #575757);
                  background-image: -ms-linear-gradient(top, #bababa, #575757);
                   background-image: -o-linear-gradient(top, #bababa, #575757);
                     background-image: linear-gradient(top, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
                 }
